<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Area Chart</h2>
	<p class="contentTextStyle">An area chart or area graph displays
		graphically quantitive data. It is based on the line chart. The
		primary use of area charts is to display trends over a period of time.</p>

	<h4>Best situation to use area chart:</h4>
	<h4>Examples:</h4>
<!-- 	<p class="contentTextStyle"> -->
	<ul type="disc">
		<li>To view the automobile sales of a manufacturer over a period
			of time.</li>
		<li>To view the revenue growth of an organization by quarter
			wise.</li>
	</ul>

<!-- 	</p> -->

	<h4>Variations of this chart:</h4>
	<p class="contentTextStyle">Line charts</p>

	<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/area_chart.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		
		<p style="text-align: center;">
			<b>Fig: Area Chart</b>
		</p>
	</div>
	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate this example.</p>

	<div align="center">
		<table class="table table-bordered" style="width: 35%;">
			<thead>
				<tr>
					<th>Year</th>
					<th>North America</th>
					<th>Europe</th>
					<th>Asia</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2008</td>
					<td>50</td>
					<td>150</td>
					<td>60</td>
				</tr>
				<tr>
					<td>2009</td>
					<td>60</td>
					<td>100</td>
					<td>65</td>
				</tr>
				<tr>
					<td>2010</td>
					<td>100</td>
					<td>80</td>
					<td>70</td>
				</tr>
				<tr>
					<td>2011</td>
					<td>150</td>
					<td>85</td>
					<td>75</td>
				</tr>
				<tr>
					<td>2012</td>
					<td>170</td>
					<td>95</td>
					<td>80</td>
				</tr>
				<tr>
					<td>2013</td>
					<td>190</td>
					<td>75</td>
					<td>85</td>
				</tr>
				<tr>
					<td>2014</td>
					<td>210</td>
					<td>90</td>
					<td>90</td>
				</tr>
				<tr>
					<td>2015</td>
					<td>225</td>
					<td>110</td>
					<td>95</td>
				</tr>
				<tr>
					<td>2016</td>
					<td>250</td>
					<td>120</td>
					<td>100</td>
				</tr>

			</tbody>
		</table>

	</div>
</div>



