<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Bar Chart</h2>
	<p class="contentTextStyle">Bar Charts are useful for comparing
		classes or groups of data. They are one of the most commonly used
		types of graph because they are simple to create and very easy to
		interpret. There are several variations that are included in the
		standard bar chart like stacked bar charts, grouped bars chart and
		horizontal bar charts.</p>

	<h4>Best situation to use bar chart:</h4>
	<p class="contentTextStyle">When the data set is small it would be
		easier to the end user to interpret data. Observations over a period
		of time can be performed.</p>
	<h4>Examples:</h4>
	<p class="contentTextStyle">Quarterly sales of an organization.</p>
	<p class="contentTextStyle">% of change (+/-) in sales or revenue
		can be indicated.</p>
	<h4>Variations of this chart:</h4>
	<p class="contentTextStyle">
		<b> Use stacked bar charts:</b> Where multiple categories can be
		clubbed together on top of each other which makes addressing multiple
		questions becomes easier.
	</p>
	<p class="contentTextStyle">
		<b> Use bars side by side:</b>Where comparison between multiple
		categories becomes easier instead of toggle between charts.
	</p>
	<p class="contentTextStyle">
		<b> Add color for quick insight:</b>Displaying the bars with colors
		will make users to pay quick attention to important tasks.
	</p>
	<p class="contentTextStyle">
		<b> Plotting data on both axis:</b>Data can be plotted both on
		positive and negative axis for identifying the trends.
	</p>

	<!-- <div class="row">
		<div class="col-md-6 col-sm-12">
			<img
				src="http://6b8a723452a6f16d15db-0c8c8b494b442e0effdc147918fc4a51.r29.cf6.rackcdn.com/images/componentGallery/barchart1.png"
				style="padding-left: 30px; padding-right: 30px;"
				class="img-responsive center-block">
		</div>
		<div class="col-md-6 col-sm-12">
			<img
				src="http://6b8a723452a6f16d15db-0c8c8b494b442e0effdc147918fc4a51.r29.cf6.rackcdn.com/images/componentGallery/barchart2.png"
				style="padding-left: 30px; padding-right: 30px;"
				class="img-responsive center-block">
		</div>
	</div> -->

	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/bar_chart.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
			<p style="text-align: center;">

			<b>Fig: Bar Chart</b>
		</p>
	</div>


	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate this example.</p>
	<div align="center">
		<table class="table table-bordered" style="width: 25%;">
			<thead>
				<tr>
					<th>Year</th>
					<th>Expense</th>
					<th>Revenue</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2011</td>
					<td>80</td>
					<td>85</td>
				</tr>
				<tr>
					<td>2012</td>
					<td>100</td>
					<td>95</td>
				</tr>
				<tr>
					<td>2013</td>
					<td>120</td>
					<td>135</td>
				</tr>
				<tr>
					<td>2014</td>
					<td>140</td>
					<td>180</td>
				</tr>
			</tbody>
		</table>

	</div>


</div>



