<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Box Plot Chart</h2>
	<p class="contentTextStyle">Box Plot charts are commonly used to
		show distribution of data. The body of a box plot chart consists of a
		box which contains the median of the data located between 1st and 3rd
		quartiles. It also contains the whiskers which generally represents
		the data within 1.5 x IQR below Q1 and 1.5 x IQR above Q3 (anything
		outside of this range is called an outlier).The whiskers are used to
		show maximum and minimum points within the data.</p>

	<h4>Best situation to use a Box Plot:</h4>
	<ul type="disc">
		<li>When you wish to represent information about the shape of
			dataset.</li>
		<li>When you want to identify outliers in your data</li>
	</ul>


	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/box_plot_chart.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<br><b>Fig: Box Plot Chart</b>
		</p>
	</div>

	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate this example.</p>



	<div align="center" style="padding-top: 5px;">
		<table id="eightColumnsTable" class="table table-bordered" style="width: 85%;">
			<thead>
				<tr>
					<th>Grade</th>
					<th>Gender</th>
					<th>Min</th>
					<th>Q1</th>
					<th>Median</th>
					<th>Q3</th>
					<th>Max</th>
					<th>Outlier1</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Grade1</td>
					<td>Male</td>
					<td>2</td>
					<td>3.6</td>
					<td>5.5</td>
					<td>8.53</td>
					<td>14</td>
					<td>16.9</td>
				</tr>

				<tr>
					<td>Grade1</td>
					<td>Female</td>
					<td>1.9</td>
					<td>2.31</td>
					<td>2.78</td>
					<td>5.5</td>
					<td>9</td>
					<td>12</td>
				</tr>
				<tr>
					<td>Grade</td>
					<td>Male</td>
					<td>7.5</td>
					<td>11.25</td>
					<td>15.25</td>
					<td>18.25</td>
					<td>19.5</td>
					<td>23</td>
				</tr>
				<tr>
					<td>Grade2</td>
					<td>Female</td>
					<td>7</td>
					<td>8.15</td>
					<td>9.5</td>
					<td>16</td>
					<td>21</td>
					<td>25</td>
				</tr>
				<tr>
					<td>Grade3</td>
					<td>Male</td>
					<td>15</td>
					<td>18</td>
					<td>28</td>
					<td>53.75</td>
					<td>65</td>
					<td>72</td>
				</tr>
				<tr>
					<td>Grade3</td>
					<td>Female</td>
					<td>24</td>
					<td>30</td>
					<td>36</td>
					<td>43.75</td>
					<td>58</td>
					<td>71</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>



