<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Bubble Chart</h2>
	<p class="contentTextStyle">A bubble chart visualizes data set in
		three of four dimensions. Where the first two dimensions are used as
		co-ordinates like x-axis and y-axis. There remaining two are used to
		represent color and size of the bubbles. Mostly used to plot financial
		data.</p>

	<h4>Best situation to use bubble chart:</h4>
	<p class="contentTextStyle">
		<b>Three Data Series:</b> If your data has three series each
		containing values then you can use bubble chart for better
		representation. Generally the sizes of the bubble are determined by
		the values.
	</p>
	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/bubble_chart.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">

			<b>Fig: Bubble Chart</b>
		</p>
	</div>
	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate this example.</p>

	<div align="center">
		<table class="table table-bordered" style="width: 25%;">
			<thead>
				<tr>
					<th>Year</th>
					<th>Expense</th>
					<th>Revenue</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>48</td>
					<td>50</td>
				</tr>
				<tr>
					<td>2</td>
					<td>41</td>
					<td>43</td>
				</tr>
				<tr>
					<td>3</td>
					<td>60</td>
					<td>54</td>
				</tr>
				<tr>
					<td>4</td>
					<td>78</td>
					<td>56</td>
				</tr>
				<tr>
					<td>5</td>
					<td>70</td>
					<td>56</td>
				</tr>
				<tr>
					<td>6</td>
					<td>43</td>
					<td>45</td>
				</tr>
				<tr>
					<td>7</td>
					<td>53</td>
					<td>56</td>
				</tr>
				<tr>
					<td>8</td>
					<td>45</td>
					<td>47</td>
				</tr>
				<tr>
					<td>9</td>
					<td>57</td>
					<td>62</td>
				</tr>
				<tr>
					<td>10</td>
					<td>40</td>
					<td>34</td>
				</tr>
				
			</tbody>
		</table>

	</div>


</div>



