<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Candlestick Chart</h2>
	<p class="contentTextStyle">Candlestick chart is a popular way of
		representing price fluctuations like opening, closing, high and low
		prices for a given period. The candle chart has shadows coming out of
		each end representing the high and low prices of each trading day. The
		candles are colored white when the prices increased and black when the
		price has decreased.</p>

	<h4>Best situation to use candlestick chart:</h4>
	<p class="contentTextStyle">Mainly used to perform technical analysis in financial markets.</p>
	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/candle_stick.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
			<p style="text-align: center;">

			<b>Fig: Candlestick Chart</b>
		</p>
	</div>
	
	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate this example.</p>
<br>
	<div align="center">
		<table id="fiveColumnTable" class="table table-bordered" style="width: 30%;">
			<thead>
				<tr>
					<th>Day</th>
					<th>High</th>
					<th>Low</th>
					<th>Close</th>
					<th>Open</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Mon</td>
					<td>280</td>
					<td>150</td>
					<td>250</td>
					<td>200</td>
				</tr>
				<tr>
					<td>Tue</td>
					<td>350</td>
					<td>200</td>
					<td>300</td>
					<td>250</td>
				</tr>
				<tr>
					<td>Wed</td>
					<td>320</td>
					<td>100</td>
					<td>150</td>
					<td>300</td>
				</tr>
				<tr>
					<td>Thu</td>
					<td>175</td>
					<td>45</td>
					<td>50</td>
					<td>150</td>
				</tr>
				<tr>
					<td>Fri</td>
					<td>275</td>
					<td>10</td>
					<td>250</td>
					<td>50</td>
				</tr>
			</tbody>
		</table>

	</div>


</div>



