<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Check Box</h2>
	<p class="contentTextStyle">Check Box is used to filter data on any
		associated components. Enabling a check box will change the data
		displayed in the associated components.</p>

	<h4>Best situation to use Check Box:</h4>
	<ul type="disc">
		<li>When users wants to filter the data of an associated
			component</li>
		<li>When users wants to select multiple items at a time</li>
	</ul>

	<div class="row">
		<div class="col-md-6 col-sm-12" style="padding-top: 15px;">
			<img
				src=http://6b8a723452a6f16d15db-0c8c8b494b442e0effdc147918fc4a51.r29.cf6.rackcdn.com/images/componentGallery/checkBox.jpg
				style="padding-left: 30px; padding-right: 30px;"
				class="img-responsive center-block">
				<p style="text-align: center;">
				<b>Fig: Check Box</b>
			</p>
		</div>
		<div class="col-md-6 col-sm-12">
			<img
				src="http://6b8a723452a6f16d15db-0c8c8b494b442e0effdc147918fc4a51.r29.cf6.rackcdn.com/images/componentGallery/hierarchicalcombobox.png"
				style="padding-left: 30px; padding-right: 30px;"
				class="img-responsive center-block">
				<p style="text-align: center;">
				<b>Fig: Hierarchical Combo Box</b>
			</p>
		</div>
	</div>
	
	</div>



