<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Chevron Chart</h2>
	<p class="contentTextStyle">Chevron charts are used to represent
		the process flow or steps involved in a life cycle of any activity.
		They are represented using arrows.</p>

	<h4>Best situation to use chevron chart:</h4>
	<p class="contentTextStyle">Combination of phases defines a project
		lifecycle. The chevron provides users in-detail information of the
		each phase involved in the project and its status.</p>
	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/chevron.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">

			<b>Fig: Chevron Chart</b>
		</p>
	</div>

	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate this example.</p>

	<div align="center">
		<table class="table table-bordered" style="width: 50%;">
			<thead>
				<tr>
					<th>ProjectName</th>
					<th>PhaseName</th>
					<th>PhaseStartDate</th>
					<th>PhaseEndDate</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Project 1</td>
					<td>Initiation</td>
					<td>1/1/2015</td>
					<td>01/31/2015</td>
				</tr>
				<tr>
					<td>Project 1</td>
					<td>Planning</td>
					<td>2/1/2015</td>
					<td>03/31/2015</td>
				</tr>
				<tr>
					<td>Project 1</td>
					<td>Execution</td>
					<td>4/1/2015</td>
					<td>09/30/2015</td>
				</tr>
				<tr>
					<td>Project 1</td>
					<td>Deployment</td>
					<td>10/1/2015</td>
					<td>11/30/2015</td>
				</tr>
				<tr>
					<td>Project 1</td>
					<td>Closure</td>
					<td>11/1/2015</td>
					<td>01/31/16</td>
				</tr>

				<tr>
					<td>Proj ABC</td>
					<td>Initiation</td>
					<td>1/1/2015</td>
					<td>01/31/2015</td>
				</tr>



				<tr>
					<td>Proj ABC</td>
					<td>Planning</td>
					<td>2/1/2015</td>
					<td>03/31/2015</td>
				</tr>
				<tr>
					<td>Proj ABC</td>
					<td>Execution</td>
					<td>4/1/2015</td>
					<td>09/30/2015</td>
				</tr>
				<tr>
					<td>Proj ABC</td>
					<td>Deployment</td>
					<td>10/1/2015</td>
					<td>10/31/2015</td>
				</tr>
				<tr>
					<td>Proj XYZ</td>
					<td>Initiation</td>
					<td>11/1/2015</td>
					<td>01/30/2015</td>
				</tr>
				<tr>
					<td>Proj XYZ</td>
					<td>Planning</td>
					<td>01/31/2015</td>
					<td>02/26/2015</td>
				</tr>
				<tr>
					<td>Proj XYZ</td>
					<td>Execution</td>
					<td>01/31/2015</td>
					<td>02/26/2015</td>
				</tr>
			</tbody>
		</table>

	</div>


</div>



