<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Date Picker</h2>
	<p class="contentTextStyle">The Date Picker component performs
		action(s) on associated components. Data in associated components will
		change based on the selected date.</p>


	<div style="padding-top: 5px;">
		<img
			src="http://6b8a723452a6f16d15db-0c8c8b494b442e0effdc147918fc4a51.r29.cf6.rackcdn.com/images/componentGallery/datePicker.jpg"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Date Picker</b>
		</p>
	</div>
</div>