<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Heat Map Chart</h2>
	<p class="contentTextStyle">A heat map visualizes data in a
		two-dimensional image where it uses colors to represent data values.
		Heat Maps allows users to understand complex data sets easily as they
		are represented in different color ranges. They provide an immediate
		visual summary of information.</p>

	<h4>Best situation to use Heat Map:</h4>
	<p class="contentTextStyle">To show relationship between two
		factors.</p>

	<h4>Variations of this chart:</h4>
	<p class="contentTextStyle">
		<b>Geographic Type Heat Maps:</b> For instance a geographical heat map
		with the colors red and blue will quickly inform the user which state
		each candidate has won.
	</p>
	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/heatmap.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">

			<b>Fig: Heat Map Chart</b>
		</p>
	</div>
	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate this example.</p>

	<div align="center">
		<table id="sixColumnsTable" class="table table-bordered " style="width: 35%;">
			<thead>
				<tr>
					<th>Employee</th>
					<th>Mon</th>
					<th>Tue</th>
					<th>Wed</th>
					<th>Thu</th>
					<th>Fri</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Alex</td>
					<td>10</td>
					<td>19</td>
					<td>8</td>
					<td>24</td>
					<td>67</td>
				</tr>
				<tr>
					<td>Lisa</td>
					<td>92</td>
					<td>58</td>
					<td>78</td>
					<td>117</td>
					<td>48</td>
				</tr>
				<tr>
					<td>Ram</td>
					<td>35</td>
					<td>15</td>
					<td>123</td>
					<td>64</td>
					<td>52</td>
				</tr>
				<tr>
					<td>Brian</td>
					<td>72</td>
					<td>132</td>
					<td>114</td>
					<td>19</td>
					<td>16</td>
				</tr>
				<tr>
					<td>Tim</td>
					<td>85</td>
					<td>97</td>
					<td>123</td>
					<td>64</td>
					<td>84</td>
				</tr>
				<tr>
					<td>Prom</td>
					<td>38</td>
					<td>5</td>
					<td>8</td>
					<td>117</td>
					<td>115</td>
				</tr>
				<tr>
					<td>Rajat</td>
					<td>13</td>
					<td>44</td>
					<td>88</td>
					<td>98</td>
					<td>96</td>
				</tr>
				<tr>
					<td>Ann</td>
					<td>31</td>
					<td>1</td>
					<td>82</td>
					<td>32</td>
					<td>30</td>
				</tr>
				<tr>
					<td>Vineet</td>
					<td>88</td>
					<td>32</td>
					<td>12</td>
					<td>6</td>
					<td>120</td>
				</tr>
				<tr>
					<td>Jeff</td>
					<td>47</td>
					<td>114</td>
					<td>31</td>
					<td>48</td>
					<td>91</td>
				</tr>

			</tbody>
		</table>

	</div>



</div>



