<div style="margin-left: 10px;">
	<h2 style="margin: 15px 0px;">Info-Button</h2>
	<p class="contentTextStyle">The Info-Button component displays text
		or an image when clicked. This component can also be used to perform
		action(s) when clicked using Java Script.</p>


	<div style="padding-top: 5px;">
		<img
			src="https://54d412922baa772d5625-0c8c8b494b442e0effdc147918fc4a51.ssl.cf6.rackcdn.com/images/componentGallery/infoButton.jpg"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Info Button</b>
		</p>
	</div>
</div>