<div style="margin-left: 10px;">
	<h2 style="margin: 15px 0px;">Pivot Chart</h2>
	<p class="contentTextStyle">The Pivot grid also known as Pivot
		Table is a data summarization tool used in data visualization
		software. Users can identify and select columns and rows of data in a
		data base or spreadsheet to obtain a desired report using the pivot
		grid tool. A pivot grid does not change the actual database or spread
		sheet, but turns the data in such a way that it can be viewed from the
		different perspectives.</p>

	<h4>Best situation to use Pivot Grid:</h4>
	<ul type="disc">
	<li>When users want to perform analysis on
		multi-dimensional data by generating cross- tabular reports.</li>
     </ul>
     
     <div style="padding-top: 5px;">
		<img
			src="views/helpIcons/pivot_chart.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
			
</div></div>