<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Pyramid Chart</h2>
	<p class="contentTextStyle">Pyramid charts are used when items
		needs to be shown in a hierarchical structure. Generally the chart
		will be a triangle sliced into number of parts. The items and topics
		will be represented in a progressive order based on the quantity and
		size.</p>

	<h4>Best situation to use Pyramid Chart:</h4>
	<p class="contentTextStyle">
		<b>Hierarchical Breakdown:</b> When there is a need to represent
		levels of hierarchy in an organization or in a process this is going
		to be the best fit.
	</p>

	<h4>Variations of this chart:</h4>
	<p class="contentTextStyle">
		<b>Funnel Chart:</b> This is just a reversed format of Pyramid chart.
	</p>

	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/pyramid.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Pyramid Chart</b>
		</p>
	</div>

	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate this example.</p>



	<div align="center" style="padding-top: 5px;">
		<table class="table table-bordered" style="width: 25%;">
			<thead>
				<tr>
					<th>Stage</th>
					<th>Count</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Lead Generation</td>
					<td>100</td>
				</tr>
				<tr>
					<td>Inquiry</td>
					<td>80</td>
				</tr>
				<tr>
					<td>Demonstration</td>
					<td>50</td>
				</tr>
				<tr>
					<td>POC</td>
					<td>40</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>



