<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Scatter plot Chart</h2>
	<p class="contentTextStyle">Scatter plots are used to analyze
		patterns in bivariate data. Data is plotted on horizontal and vertical
		axis in the attempt to show how much one variable is related to
		another. They are the best visualizations which gives users a sense of
		trends, correlations and outliers from the data.</p>

	<h4>Best situation to use Scatter plot chart:</h4>
	<p class="contentTextStyle">When to find Relation between different
		variables.</p>
	<p class="contentTextStyle">When trying to find potential root
		cause of a problem.</p>

	<h4>Variations of this chart:</h4>
	<p class="contentTextStyle">
		<b>Add-up Filters:</b> Filters like combo box can be added on to the
		scatter plot chart to filter data based on a condition.
	</p>
	<p class="contentTextStyle">
		<b>Differentiate by Type:</b> Data plotted on the charts may contain
		different categories. These categories can be identified by assigning
		different shapes.
	</p>
	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/scatted.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Scatter plot Chart</b>
		</p>
	</div>

	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate
		this example.</p>


	<div align="center" style="padding-top: 5px;">
		<table class="table table-bordered" style="width: 25%;">
			<thead>
				<tr>
					<th>Profit</th>
					<th>Sale</th>
					<th>Expense</th>

				</tr>
			</thead>
			<tbody>


				<tr>
					<td>9</td>
					<td>81</td>
					<td>63</td>
				</tr>
				<tr>
					<td>98</td>
					<td>5</td>
					<td>89</td>
				</tr>
				<tr>
					<td>5</td>
					<td>5</td>
					<td>59</td>
				</tr>
				<tr>
					<td>5</td>
					<td>5</td>
					<td>59</td>
				</tr>
				<tr>
					<td>51</td>
					<td>50</td>
					<td>73</td>
				</tr>
				<tr>
					<td>41</td>
					<td>22</td>
					<td>14</td>
				</tr>
				<tr>
					<td>58</td>
					<td>24</td>
					<td>20</td>
				</tr>
				<tr>
					<td>78</td>
					<td>37</td>
					<td>34</td>
				</tr>
				<tr>
					<td>55</td>
					<td>56</td>
					<td>53</td>
				</tr>
				<tr>
					<td>18</td>
					<td>45</td>
					<td>70</td>
				</tr>
			</tbody>
		</table>
		<div style="width: 50%;">
			<p class="contentTextStyle" align="right">etc...</p>
		</div>


	</div>
</div>