<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Scorecards</h2>
	<p class="contentTextStyle">Scorecards are similar to Data grids;
		where data can be displayed in hierarchical format, and alerts can be
		set.</p>

	<h4>Best situation to use Scorecard:</h4>
	<ul type="disc">
		<li>When end-users need to view data in numerical format.</li>
		<li>When alerts needs to be shown.</li>
		<li>When to display hierarchies in data.</li>
	</ul>
	<h4>Variations:</h4>
<ul type="disc">
<li><b>Compare: A '<b>Compare Value</b>' must be given by the user. Alerts are then triggered depending on if the data in the data set is greater, equal, or less than the compare value. (Ex. <50% = Red, 50% = Yellow, >50% = Green)
</b></li>
<li><b>Range: </b>Alerts can be configured to trigger based on range value(s). (Ex. 0-40% = Red, 41-70% = Yellow, 70-100% = Green)
</li>
</ul>
	<div style="padding-top: 5px;">
		<img
			src="http://6b8a723452a6f16d15db-0c8c8b494b442e0effdc147918fc4a51.r29.cf6.rackcdn.com/images/componentGallery/scorecard.jpg"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Scorecard</b>
		</p>
	</div>
	<h4>Data Used in Example</h4>
	<div align="center">
		<table class="table table-bordered" style="width: 50%;">
			<thead>
				<tr>
					<th>Country</th>
					<th>State</th>
					<th>City</th>
					<th>Population</th>
					<th>Revenue</th>
					<th>Indicator</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>USA</td>
					<td>California</td>
					<td>San Jose</td>
					<td>1000</td>
					<td>10</td>
					<td>10</td>
				</tr>
				<tr>
					<td>USA</td>
					<td>California</td>
					<td>San Francisco</td>
					<td>2500</td>
					<td>45</td>
					<td>45</td>
				</tr>
				<tr>
					<td>USA</td>
					<td>California</td>
					<td>Los Angeles</td>
					<td>4500</td>
					<td>75</td>
					<td>75</td>
				</tr>
				<tr>
					<td>USA</td>
					<td>California</td>
					<td>San Diego</td>
					<td>500</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>USA</td>
					<td>California</td>
					<td>Santa Clara</td>
					<td>300</td>
					<td>3</td>
					<td>3</td>
				</tr>
				<tr>
					<td>USA</td>
					<td>NewYork</td>
					<td>Buffalo</td>
					<td>100</td>
					<td>2</td>
					<td>2</td>
				</tr>
				<tr>
					<td>USA</td>
					<td>NewYork</td>
					<td>NY City</td>
					<td>6000</td>
					<td>78</td>
					<td>78</td>
				</tr>
				<tr>
					<td>USA</td>
					<td>NewYork</td>
					<td>Rochester</td>
					<td>278</td>
					<td>23</td>
					<td>23</td>
				</tr>
				<tr>
					<td>USA</td>
					<td>Texas</td>
					<td>Houston</td>
					<td>3000</td>
					<td>45</td>
					<td>45</td>
				</tr>
				<tr>
					<td>USA</td>
					<td>Texas</td>
					<td>Austin</td>
					<td>3000</td>
					<td>45</td>
					<td>45</td>
				</tr>

			</tbody>
		</table>

	</div>
</div>



