<div style="margin-left: 10px;">
	<h2 class="head-txt">URL</h2>
	<p class="contentTextStyle">H-Slider (Horizontal) and V-Slider
		(Vertical) components perform action(s) on associated components when
		the slider position is altered.</p>


	<div style="padding-top: 5px;">
		<img
			src="http://6b8a723452a6f16d15db-0c8c8b494b442e0effdc147918fc4a51.r29.cf6.rackcdn.com/images/componentGallery/hSlider.jpg"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Horizontal Slider</b>
		</p>
	</div>

	<br>

	<div style="padding-top: 5px;">
		<img
			src="https://54d412922baa772d5625-0c8c8b494b442e0effdc147918fc4a51.ssl.cf6.rackcdn.com/images/componentGallery/vSlider.jpg"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Vertical Slider</b>
		</p>
	</div>
</div>