<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Spider Chart</h2>
	<p class="contentTextStyle">Spider chart is also known as Radar
		chart which is used to plot values of each category along the axis
		which starts at the center of the chart and extends up to the end of
		the radius. It is a two-dimensional chart type designed to plot one or
		more series of values arranged in the form of spokes.</p>

	<h4>Best situation to use spider chart:</h4>
	<p class="contentTextStyle">When there is a need to analyze
		performance areas in an organization the spider chart would be the
		best fit to look for.</p>
	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/spider_chart.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Spider Chart</b>
		</p>
	</div>

	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate this example.</p>

	<div align="center">
		<table class="table table-bordered" style="width: 25%;">
			<thead>
				<tr>

					<th>Department</th>
					<th>Allocated_Budget</th>
					<th>Actual_Spending</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Sales</td>
					<td>100</td>
					<td>75</td>
				</tr>
				<tr>
					<td>Marketing</td>
					<td>80</td>
					<td>60</td>
				</tr>
				<tr>
					<td>Development</td>
					<td>120</td>
					<td>150</td>
				</tr>
				<tr>
					<td>Information Technology</td>
					<td>90</td>
					<td>40</td>
				</tr>
				<tr>
					<td>Customer Support</td>
					<td>75</td>
					<td>80</td>
				</tr>
				<tr>
					<td>Administration</td>
					<td>60</td>
					<td>60</td>
				</tr>
			</tbody>
		</table>

	</div>




</div>



