<div style="margin-left: 10px;">
	<h2 style="margin: 15px 0px;">SVG Image</h2>
	<p class="contentTextStyle">This component allows users to add
		images to the dashboard using the SVG format. The SVG code of an image
		should be copied & pasted into this component to display that image on
		the dashboard.</p>


	<div style="padding-top: 5px;">
		<img
			src="https://54d412922baa772d5625-0c8c8b494b442e0effdc147918fc4a51.ssl.cf6.rackcdn.com/images/componentGallery/svgImage.jpg"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: SVG Image</b>
		</p>
	</div>
</div>