<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Text Box</h2>
	<p class="contentTextStyle">Text Box component is used to display
		text. The text formatting can be customized.</p>


	<div style="padding-top: 5px;">
		<img
			src="https://54d412922baa772d5625-0c8c8b494b442e0effdc147918fc4a51.ssl.cf6.rackcdn.com/images/componentGallery/textBox.jpg"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Text Box</b>
		</p>
	</div>
</div>