<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Text Analyzer Chart</h2>
	<p class="contentTextStyle">The Text Analyzer chart is extremely
		useful to plot the popularity and sentiment graphs of various products
		and to identify their relationships to the actual sales of these
		products. It provides visualizations based on 20 emotional properties
		embodied in text, with their measure of confidence, which we call
		'Sentiment'.</p>

	<h4>Best situation to use Text Analyzer Chart:</h4>
	<ul type="disc">
		<li>To identify customers' opinions.</li>
		<li>To observe Churn Indicators .</li>
		<li>To analyze customer Satisfaction and Segmentation .</li>
	</ul>


	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/text_analyzer.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Text Analyzer Chart</b>
		</p>
	</div>

	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate this example.</p>



	<div align="center" style="padding-top: 5px;">
		<table id="fiveColumnTable" class="table table-bordered" style="width: 85%;">
			<thead>
				<tr>
					<th>Y-field</th>
					<th>X-field</th>
					<th>Color</th>
					<th>Radius</th>
					<th>Tooltip</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>7.02</td>
					<td>5.3</td>
					<td>1.957575</td>
					<td>3.218876</td>
					<td>Tooltip-1</td>
				</tr>

				<tr>
					<td>7.43</td>
					<td>4.57</td>
					<td>1.802054</td>
					<td>5.693324</td>
					<td>Tooltip-2</td>
				</tr>
				<tr>
					<td>3.450359</td>
					<td>4.327559</td>
					<td>1.920015</td>
					<td>4.135494</td>
					<td>Tooltip-3</td>
				</tr>
				
				<tr>
					<td>7.677883</td>
					<td>5.299413</td>
					<td>2.297534</td>
					<td>6.7301</td>
					<td>Tooltip-4</td>
				</tr>
				<tr>
					<td>6.39</td>
					<td>6.62</td>
					<td>3.038853</td>
					<td>5.276666</td>
					<td>Tooltip-5</td>
				</tr>
				<tr>
					<td>4.38</td>
					<td>6.55</td>
					<td>2.787844</td>
					<td>5.317488</td>
					<td>Tooltip-6</td>
				</tr>
				<tr>
					<td>4.429281</td>
					<td>5.501457</td>
					<td>2.635665</td>
					<td>7.016157</td>
					<td>Tooltip-7</td>
				</tr>
				<tr>
					<td>4.752894</td>
					<td>6.254559</td>
					<td>2.26194</td>
					<td>7.047372</td>
					<td>Tooltip-8</td>
				</tr>
				<tr>
					<td>4.752894</td>
					<td>4.752894</td>
					<td>2.26194</td>
					<td>7.047372</td>
					<td>Tooltip-9</td>
				</tr>
				<tr>
					<td>4.752894</td>
					<td>4.752894</td>
					<td>2.26194</td>
					<td>7.047372</td>
					<td>Tooltip-10</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>



