	<div style="margin-left: 10px;">
	<h2 style="margin: 15px 0px;">Timeline Chart</h2>
	<p class="contentTextStyle">Timeline chart can be used to evaluate
		patterns and behavior in data over time. Also called 'Time Series'
		graphs. They show how values change over a time. Timeline charts
		display observations on the Y-axis against equally spaced time
		intervals on the X-axis.</p>

	<h4>Best situation to use a Timeline:</h4>
	<ul type="disc">
		<li>When comparing data patterns of different groups.</li>
		<li>When examining daily, weekly, and annual variations of a
			product or an entity.</li>
	</ul>


	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/time_line_chart.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Timeline Chart</b>
		</p>
	</div>

	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate
		this example.</p>



	<div align="center" style="padding-top: 5px;">
		<table class="table table-bordered" style="width: 85%;">
			<thead>
				<tr>
					<th>TimeLine</th>
					<th>Company_A</th>
					<th>Company_B</th>
					<th>Company_C</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1/1/2008</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
				</tr>

				<tr>
					<td>2/1/2008</td>
					<td>3</td>
					<td>2</td>
					<td>2</td>
				</tr>
				<tr>
					<td>3/1/2008</td>
					<td>5</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td>4/1/2008</td>
					<td>5</td>
					<td>2</td>
					<td>6</td>
				</tr>
				<tr>
					<td>5/1/2008</td>
					<td>5</td>
					<td>2</td>
					<td>5</td>
				</tr>
				<tr>
					<td>6/1/2008</td>
					<td>5</td>
					<td>3</td>
					<td>4</td>
				</tr>

				<tr>
					<td>7/1/2008</td>
					<td>6</td>
					<td>3</td>
					<td>6</td>
				</tr>
				<tr>
					<td>8/1/2008</td>
					<td>5</td>
					<td>3</td>
					<td>6</td>
				</tr>
				<tr>
					<td>9/1/2008</td>
					<td>5</td>
					<td>2</td>
					<td>5</td>
				</tr>
				<tr>
					<td>10/1/2008</td>
					<td>3</td>
					<td>4</td>
					<td>6</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>



