<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Treemap Chart</h2>
	<p class="contentTextStyle">Treemap charts are used to display
		large amounts of hierarchical data. When users want to view all of
		their hierarchical data at one time, tree maps can be used. Each
		rectangle represents a branch in a tree and it also shows how much
		data it comprises. The size and position of the rectangles are based
		on the quantitative variable used for the chart.Patterns across the
		data can be identified using the size and color of the rectangles.</p>

	<h4>Best situation to use Treemap:</h4>
	<p class="contentTextStyle">When users want to view all of their
		hierarchical data at one time.</p>

	<h4>Variations of this chart:</h4>
	<p class="contentTextStyle">Each rectangle can be colored
		differently so users can understand how the hierarchical data is
		structured by a quick glance.</p>

	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/tree_map.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Treemap Chart</b>
		</p>
	</div>

	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate this example.</p>



	<div align="center" style="padding-top: 5px;">
		<table class="table table-bordered" style="width: 25%;">
			<thead>
				<tr>
					<th>Country</th>
					<th>Economy Percent</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Venezuela</td>
					<td>0.28</td>
				</tr>
				<tr>
					<td>Greece</td>
					<td>0.33</td>
				</tr>
				<tr>
					<td>South Africa </td>
					<td>0.46</td>
				</tr>
				<tr>
					<td>Denmark</td>
					<td>0.46</td>
				</tr>
				<tr>
					<td>Thailand</td>
					<td>0.51</td>
				</tr>
				<tr>
					<td>Iran</td>
					<td>0.54</td>
				</tr>
				<tr>
					<td>Colombia</td>
					<td>0.54</td>
				</tr>
				<tr>
					<td>UAE</td>
					<td>0.56</td>
				</tr>
				<tr>
					<td>Austria</td>
					<td>0.58</td>
				</tr>
				<tr>
					<td>Argentina</td>
					<td>0.60</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>



