<div style="margin-left: 10px;">
	<h2 style="margin: 15px 0px;">Trellis chart</h2>
	<p class="contentTextStyle">The Trellis chart is a network of small
		charts. It is a repetition of a chart across a grid. Generally,
		minimum two dimensions are used, one for the grid variable and another
		for the x-axis within each small chart. Users can analyze the metrics
		within each chart without a query (a selection) and compare with the
		rest of the group at the same time via a trellis chart. A chart will
		be shared on the same Y-axis, so it becomes easier for users to
		identify irregular behavior among the variables by accurately
		comparing the metrics across the grid.</p>

	<h4>Best Situation to Use a Trellis chart:</h4>
	<ul type="disc">
		<li>To compare different values of one dimension.</li>
		

	</ul>


	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/trellis_chart.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<br> <b>Fig: Trellis Chart</b>
		</p>
	</div>

	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate
		this example.</p>



	<div align="center" style="padding-top: 5px;">
		<table id="eightColumnsTable" class="table table-bordered"
			style="width: 85%;">
			<thead>
				<tr>
					<th>Category</th>
					<th>Grade</th>
					<th>Year</th>
					<th>Subject</th>
					<th>Team1</th>
					<th>Team2</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Primary</td>
					<td>Grade-A</td>
					<td>2010</td>
					<td>Science</td>
					<td>319</td>
					<td>78</td>
				</tr>

				<tr>
					<td>Primary</td>
					<td>Grade-A</td>
					<td>2010</td>
					<td>Math</td>
					<td>221</td>
					<td>43</td>
				</tr>

				<tr>
					<td>Primary</td>
					<td>Grade-A</td>
					<td>2011</td>
					<td>Science</td>
					<td>391</td>
					<td>78</td>
				</tr>

				<tr>
					<td>Primary</td>
					<td>Grade-A</td>
					<td>2011</td>
					<td>Math</td>
					<td>212</td>
					<td>43</td>
				</tr>

				<tr>
					<td>Primary</td>
					<td>Grade-A</td>
					<td>2012</td>
					<td>Science</td>
					<td>394</td>
					<td>78</td>
				</tr>
				<tr>
					<td>Primary</td>
					<td>Grade-A</td>
					<td>2012</td>
					<td>Math</td>
					<td>202</td>
					<td>43</td>
				</tr>
				<tr>
					<td>Primary</td>
					<td>Grade-B</td>
					<td>2010</td>
					<td>Science</td>
					<td>328</td>
					<td>35</td>
				</tr>

				<tr>
					<td>Primary</td>
					<td>Grade-B</td>
					<td>2010</td>
					<td>Math</td>
					<td>298</td>
					<td>76</td>
				</tr>

				<tr>
					<td>Primary</td>
					<td>Grade-B</td>
					<td>2011</td>
					<td>Science</td>
					<td>264</td>
					<td>99</td>
				</tr>
				
			</tbody>
		</table>

	</div>

</div>