<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">URL</h2>
	<p class="contentTextStyle">Users can embed a URL into this
		component. When the component is clicked, end-users will be redirected
		to the given URL page.</p>


	<div style="padding-top: 5px;">
		<img
			src="http://6b8a723452a6f16d15db-0c8c8b494b442e0effdc147918fc4a51.r29.cf6.rackcdn.com/images/componentGallery/url.jpg"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: URL Button</b>
		</p>
	</div>
	</div>