<div style="margin-left: 10px;">
	<h2 style="margin:15px 0px;">Word Cloud Chart</h2>
	<p class="contentTextStyle">Word Cloud is a visual representation
		of text data where the font size of a word depicts the frequency of
		this word in a set of text data. Even though Word clouds are not a
		perfect tool for data analysis and business data visualizations, they
		definitely have their place in info graphics. Word clouds can also
		reveal patterns in your responses that may guide future analysis.</p>

	<h4>Best situation to use Word Cloud Chart:</h4>
	
	<ul type="disc">
	<li>When analyzing text data</li>
	<li>When identifying trends and patterns that would otherwise be unclear or difficult to see in a tabular format.
	</li>
	</ul>

	

	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/word_cloud_char.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
			<b>Fig: Word Cloud Chart</b>
		</p>
	</div>

	<h4>Data Used:</h4>
	<p class="contentTextStyle">The following data was used to generate this example.</p>



	<div align="center" style="padding-top: 5px;">
		<table class="table table-bordered" style="width: 25%;">
			<thead>
				<tr>
					<th>Word</th>
					<th>Frequency</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>you've</td>
					<td>1</td>
				</tr>
				<tr>
					<td>you're</td>
					<td>1</td>
				</tr>
				<tr>
					<td>years</td>
					<td>1</td>
				</tr>
				<tr>
					<td>year</td>
					<td>2</td>
				</tr>
				<tr>
					<td>work</td>
					<td>1</td>
				</tr>
				<tr>
					<td>well</td>
					<td>3</td>
				</tr>
				<tr>
					<td>we've</td>
					<td>3</td>
				</tr>
				<tr>
					<td>we're</td>
					<td>3</td>
				</tr>
				<tr>
					<td>way</td>
					<td>4</td>
				</tr>
				<tr>
					<td>want</td>
					<td>4</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>



