	<link href="../charting/src/bizviz.charting/components/resources/css/visTimeline.min.css" rel="stylesheet" type="text/css"/>
	<script src="../charting/src/bizviz.charting/components/resources/js/svg.min.js" type="text/javascript"></script>
	<script src="../charting/src/bizviz.charting/components/resources/js/visTimeline.min.js" type="text/javascript"></script>
	<script src="../charting/src/bizviz.charting/components/resources/js/visNetwork.min.js" type="text/javascript"></script>
	<script>
		loadScript( {"urls": (dGlobals.isDevMode) ? global.src_url_importcomponents.parent_devJS : global.src_url_importcomponents.parent_prodJS, "type": "script", "async": "false", "cbArgs": "", "eCB": "", "sCB": function(){
			loadScript( {"urls": (dGlobals.isDevMode) ? global.src_url_importcomponents.devJS : global.src_url_importcomponents.prodJS, "type": "script", "async": "false", "cbArgs": "", "eCB": "", "sCB": ""} );
		}} );
	</script>
	<script ng-init="lastScriptOnLoad()" type="text/javascript"></script>
	<link href="../charting/src/bizviz.charting/components/resources/css/easyui.min.css" rel="stylesheet" type="text/css" />
	<link href="../charting/src/bizviz.charting/components/resources/css/icon.min.css" rel="stylesheet" type="text/css" />
	<link href="../charting/src/bizviz.charting/components/resources/css/bdbizviz-font-styles.min.css" rel="stylesheet" type="text/css" />
	