<h1 style="text-align: left; font-size: 30px;margin-left: 25px;margin-bottom: 3%;">Tooltip</h1>
<p class="contentTextStyle">1. Under component property section, ‘Tooltip ’ property block is available.</p>
<p class="contentTextStyle">2. Tooltip block contains ‘Show Tool Tip ’, ‘Background Color ’, ‘Opacity ’, ‘Border Color ’, ‘Box Width ’, ‘Precision ’ & ‘Highlighter ’.</p>
<p class="contentTextStyle">a) Show Tool Tip: Configures tooltip as Default, Custon or None.</p>
<p class="contentTextStyle">b) Background Color: Configures tooltip background color.</p>
<p class="contentTextStyle">c) Opacity: Configures tooltip background color opacity.</p>
<p class="contentTextStyle">d) Border Color: Configures border color of tool tip.</p>
<p class="contentTextStyle">e) Box Width: Configures width of the tool tip box it contains a select box from where width can assign to tool tip box.</p>
<p class="contentTextStyle">f) Precision: Configures the tool tip display data precision.</p>
<p class="contentTextStyle">g) Highlighter: On enable this property through checkbox tooltip highlighted field background color change.</p>
<br>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/TooltipPropertyBlock.PNG"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div>
	<br>
<p class="contentTextStyle">3. Show Tool Tip: On click this a model box open which contains three radio buttons, its default selection is  ‘Default ’</p>
<p class="contentTextStyle">a) None: On selection of None, tooltip doesn't be shown on the selected component.</p>
<p class="contentTextStyle">b) Default: It's by default selected tooltip, displays the default configuration of the selected component.</p>
<p class="contentTextStyle">c) Custom: On selection of Custom, tooltip content can be configured.</p>
<br>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/TooltipModelBox.PNG"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div>
	<br>
<p class="contentTextStyle">4. Custom Tool Tip: On selection of Custom, a editable text box open.</p>
<p class="contentTextStyle">5. Editable text box contains property buttons on top, a select box which contains all the fields of data set, a save and cancel button.</p>
<p class="contentTextStyle">6. Editable text box contains selected fields of data set by default.</p>
<br>
<div style="padding-top: 5px;">
	<img     
			src="views/helpIcons/CustomToolTipBox.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div>
	<br>
<p class="contentTextStyle">7. Custom Tooltip configuration</p>
<p class="contentTextStyle">a) Additional fields can be selected from the select box.<img src="views/helpIcons/CustomSelectBox.png" width="200" height="100"></p>
<p class="contentTextStyle">b) Display name then field name inside the bracket, field data replaces brackets.<img src="views/helpIcons/DataFormate.png" width="200" height="50"></p>
<p class="contentTextStyle">c) After selection of the content font properties like font color, font size, font family etc can be changed from property buttons.</p>
<br>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/UseCustomTooltip.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div>
<br>	
<p class="contentTextStyle">e) <b>‘&lt;htmlTag&gt;&lt;/htmlTag&gt;’</b> : With the help of this tag, any HTML content can be passed directly into tooltip.</p>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/htmlTagTooltip.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div>
<p class="contentTextStyle">f) Video and image can be displayed in to tool tip through this htmlTab.</p>
<p class="contentTextStyle">g) The field which contains video links that name would be written in the brackets after "scr=" for example src=[Field Name].For displaying single video or image the only link to that particular video or image need to give under "src=" for example src="https://www.bdbizviz.com/resources/images/BDB_logo.png" </p>
<p class="contentTextStyle">h) Font Color property does not support in Internet Explorer.</p>
<p class="contentTextStyle">i) For changing the field data font property, need to select entire bracket otherwise value won't be display in the tooltip.<img src="views/helpIcons/PrecautionsCustomToolTip.PNG" width="200" height="150"></p>
<br>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/ToolTipFinalView.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div>
<br>
<p class="contentTextStyle">8. Mobile Tooltip configuration</p>
<p class="contentTextStyle">a) For Timeline, Bar, Heatmap & Pie mobile specific Tooltip is available.</p>
<p class="contentTextStyle">b) This Tooltip works only when component is in maximized state.</p>
<p class="contentTextStyle">c) Default Tooltip can be enable through this script--> sdk.getWidget( 'ComponentID' ).m_mobiletooltipstyle = "default"; </p>
<!-- <div style="padding-top: 5px;">
	<img
			src="views/helpIcons/MobileToolTip.jpg" width="500" height="1050"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div> --->
<br>
	
