<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>alrt scorecard</title>
</head>
<body>
<h1>Alert Scorecard</h1>
	<h2>Creating an Alert in Scorecard</h2>
<!-- 	<p class="contentTextStyle">i) Go to the Dashboard Designer Home Screen, as shown below.
								From the Apps drop-down menu, select Dashboard Designer.</p>
	<div style="padding-top: 5px;">
	<img
			src="img/drilldown/dashboarddesigner.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block" height="420" width="1080">
		
		<p style="text-align: center;">
			<b>Fig: Select Dashboard Designer</b>
		</p>
	</div>
	<p class="contentTextStyle">ii) After Selecting ‘Dashboard Designer’, 
									you will be directed to the Dashboard Designer home screen .</p>
	<div style="padding-top: 5px;">
	<img
			src="img/drilldown/dashboard.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block" height="420" width="1080">
		
		<p style="text-align: center;">
			<b>Fig: DesignerHome Page</b>
		</p>
	</div>
	<p class="contentTextStyle">iii) Click on the ‘New +’ drop-down menu. You will be presented with 2 options:
				<ul>	
					<li><p class="contentTextStyle">Workspace: A folder that is used to contain dashboards</p></li>
					<li><p class="contentTextStyle">Dashboard: A canvas used for dashboard design and development</p></li>
				</ul>
	</p>
	<p class="contentTextStyle">iv)Select ‘Dashboard’ to create a new dashboard (as show below)</p>
	<div style="padding-top: 5px;">
	<img
			src="img/drilldown/selectdashboard.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block" height="420" width="1080">
		
		<p style="text-align: center;">
			<b>Fig: Select New Dashboard</b>
		</p>
	</div>
	<p class="contentTextStyle">v) After selecting ‘Dashboard’ a canvas (blank working area) will open.</p>
	<div style="padding-top: 5px;">
	<img
			src="img/drilldown/dashboardblank.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block" height="420" width="1080">
		
		<p style="text-align: center;">
			<b>Fig: Blank Working Area</b>
		</p>
	</div>
	<p class="contentTextStyle">vi) Click on the ‘Data source’ icon
				provided on the right side of the canvas,
				and view the data connectivity options (ex: CSV, Excel, and Web-Service).
				Select the desired data connectivity option.</p>
		<p class="contentTextStyle">Fill in the necessary details:</p>
		<ul>
			<li><p class="contentTextStyle">Field Set: Fields available in the uploaded file will be displayed</p></li>
			<li><p class="contentTextStyle">Condition: Fields that can be used as filters in the query will be displayed here.
						The user should enable the check box next to any field he wishes to use as a
						filter, and enter the desired value for that filter within the ‘Condition’ box.</p></li>
			<li><p class="contentTextStyle">Script on Load: Scripts can be written to trigger particular functions and these
									scripts will be loaded during the period when the components establish
									connection with the data sources.</p></li>
		</ul>
	<div style="padding-top: 5px;">
	<img
			src="img/drilldown/exceldataconnection.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block" height="420" width="1080">
		
		<p style="text-align: center;">
			<b>Fig: Create New Connection</b>
		</p>
	</div>	 -->
	<p class="contentTextStyle">1. Drag and drop the Scorecard and assign connection to it.</p>
	<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/TreeGridHelp.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block" height="320" width="1080">
		
		<p style="text-align: center;">
			<b>Fig: Scorecard with data connection</b>
		</p>
	</div>
	<p class="contentTextStyle">2. Select the field & change 'Column Type' to 'Numeric', to which indicator has to be applied</p>
		<div style="padding-top: 5px;">
			<img
				src="views/helpIcons/TreeGridColumnType.png"
				style="padding-left: 30px; padding-right: 30px;"
				class="img-responsive center-block" height="420" width="1080">
		</div>
	<br>
		<p class="contentTextStyle">3. Click on the ‘Indicator’ tab to configure alert settings:</p>
		<div style="padding-top: 5px;">
			<img
				src="views/helpIcons/Indicator.png"
				style="padding-left: 30px; padding-right: 30px;"
				class="img-responsive center-block" height="420" width="1080">
		</div>
		<br>
		<p class="contentTextStyle">Configure the following Alert properties:</p>
		<ul>
			<li><p class="contentTextStyle">Show Alert: Enable this option to view the alerts on scorecards</p></li>
			<li><p class="contentTextStyle">Alert Column: The column on which alerts should be applied</p></li>
			<li><p class="contentTextStyle">Alert by: There are 3 options to view alerts:</p>
				<p class="contentTextStyle">1. Comparison: Used to compare a column against the value given in the
						‘Compare Value’ box</p>
				<p class="contentTextStyle">2. Range: Used to set the color based on where the column’s value falls
						within a given range.</p>
				<p class="contentTextStyle">3. Static Comparison: Used to compare a column against static values given in the
						‘Value’ text area.</p>
			</li>
			<li><p class="contentTextStyle">Custom Properties: Configuration for Comparison and Alert options are given here.</p></li>
			<br>
			<div style="padding-top: 5px;">
			<img
				src="views/helpIcons/Alert Window.png"
				style="padding-left: 30px; padding-right: 30px;"
				class="img-responsive center-block" height="420" width="1080">
		</div>
			<br>
			<li><p class="contentTextStyle">Show Data: Enable this option to view the data</p></li>
		</ul>
			<br>
		<p class="contentTextStyle">4. Click on ‘Preview’ button to view the results:</p>
		<br>
		<div style="padding-top: 5px;">
			<img
				src="views/helpIcons/ScoreCardAlert.png"
				style="padding-left: 30px; padding-right: 30px;"
				class="img-responsive center-block" height="420" width="1080">
		</div>
		<br>
</body>
</html>