<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Publish Dashboard</title>
</head>
<body>
	<h1>Publish Dashboard</h1>
	<br>
	<p class="contentTextStyle"><b>Publishing a Dashboard</b></p>
	<p class="contentTextStyle"><span></>i) Go to the Dashboard Designer Home Screen. From the Apps drop-down menu, select Dashboard Designer.</p>
	<p class="contentTextStyle">ii) After Selecting <b>‘Dashboard Designer’</b>, you will be directed to the Dashboard Designer home screen .</p>
	<p class="contentTextStyle">iii) From the dashboard designer home screen select <b>‘Manage’</b></p>
	<p class="contentTextStyle">iv) Select the <b>‘Workspace’</b> available from the list</p>
	<div style="padding-top: 5px;">
		<img
			src="views/helpIcons/ManageWorkspace.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block"
			width="1080px">
	</div>
	
	<p class="contentTextStyle">v) Dashboards saved under the selected workspace will be displayed. Select the publish <a><i style="font-size: 15px;" class="material-icons cursor-hand">cloud_upload</i></a> icon of any dashboard to publish it.(as shown below)</p>
	<p class="contentTextStyle">vi) Clicking on <b>‘Publish’</b> option will redirect users to following page. Based on the requirement select the Users & User Groups.</p>
	<br>
	<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/PublishToPortal.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block"
			width="1080px">
	</div>
</body>
</html>