<h1 style="text-align: left; font-size: 30px; margin-bottom: 3%;">Connecting to a Merged Data</h1>
<ul class="contentTextStyle">
<li>Click the ‘Data Source’ icon <img src="views/helpIcons/DataSourceIcon.png"> to display all the available data sources.</li>
<li>Create new connections using any data connector option (In this case, Excel connections are created. E.g. Connection-1, Connection-2)</li>
<li>Create a connection under ‘Merged Data’.</li>
	<li>Configure the new connection created for Merged data by mapping the created Excel connections.</li>
	<li>Define a condition via the ‘Criteria’ space. (E.g. ‘Equal’ or ‘Not Equal’)</li>
	<li>Fields for the Merged Data connection will be displayed on the right side of the panel.</li>
	<br>
	<div>
	<img
			src="views/helpIcons/MergedData.png"
			 style="width: 700px;padding-left: 30px;"">
	</div>
	<br>
	</ul>
	<p><b>Note:</b> Users can ‘Rename’ or ‘Remove’ the fields added for merged connection.</p>