<h1 style="text-align: left; font-size: 30px; margin-bottom: 3%;">Connecting to a Data Science Service</h1>
<p class="contentTextStyle">Click the ‘Data source’ icon provided to the right side of the canvas, and view the database connectivity options.</p>
<ul class="contentTextStyle">
<li>Click the ‘Data Source’ icon <img src="views/helpIcons/DataSourceIcon.png"> to display all the available data sources.</li>
<li>Click the ‘Add’ button <i class="material-icons cursor-hand">add</i> provided next to the ‘Data Science Service’ option.</li>
<li>A new connection will be created.</li>
<br>	
<div>
	<img
			src="views/helpIcons/PredictiveWorkflow1.png"
			 style="width: 400px;padding-left: 30px;"">
	</div>
	<br>
	<li>Click the connection to display the connection specific details.</li>
	<li>Configure the following information:</li>
	<ul>
	<li>a.<b>Name:</b> Name the connection.</li>
	<li>b. <b>Data Science Workflows:</b> Select a Deployed Data Science Workflow from the drop-down menu.</li>
	<li>c. <b>Load at Start:</b> Enable this option to get the updated data from the data source before loading into charts. </li>
	<li>d. <b>Timely Refresh:</b> Enable this option to get the refreshed data.</li>
	<li>e. <b>Refresh Interval:</b> Set the time for refresh interval. (This field will appear only when the ‘Timely Refreshed’ field has been enabled.)</li>
	</ul>
	<li>Once the data connection is established all the fields available in the data will be displayed under the ‘Field Set’ tab.</li>
	<br>
	<div>
	<img
			src="views/helpIcons/PredictiveWorkflow2.png"
			 style="width: 700px;padding-left: 30px;"">
	</div>
	<br>
	<li>Select ‘Condition’ tab and provide a condition to be applied as a filter on the selected data by check marking the box.  
E.g. As displayed in the following image, ‘Dublin’ has been selected from the ‘city’ field and ‘All’ has been selected from the ‘fn’ field . Hence, only data related to the Bengalore city and All fn will be pulled from the data source.</li>
<br>
	<div>
	<img
			src="views/helpIcons/PredictiveWorkflow3.png"
			 style="width: 700px;padding-left: 30px;"">
	</div>
	<!-- <br>
	<li>Select ‘Script on Load’ to trigger a script to produce some action on a component. </li>
	 -->
	</ul>