<h1
	style="text-align: left; font-size: 30px; margin-bottom: 3%;">Connecting
	to Data</h1>

<p class="contentTextStyle">
	This section explains via a step-by-step tutorial, how to connect to
	the available data sources, managing, and explaining the 'Condition'
	and 'Script on Load' options.</p>

			<h2>
				Supported Data Source Connections
				</h2>
				<p class="contentTextStyle"
					style="text-align: left; font-size: 17px; padding-left: 17px;">
					This section covers how to create a basic data connection, creation
					of scripts and conditions. Currently, BDB Dashboard Designer
					supports the following connection types:</p>
				<ul class="contentTextStyle">
					<li>CSV</li>
					<li>Excel</li>
					<li>Web Service</li>
					<li>Data Store</li>
					<li>Predictive Service</li>
					<li>Web Socket</li>
					<li>Merged Data</li>
				</ul>
				<br>
<h2>Connecting to a Data Source</h2>
<br>
<p class="contentTextStyle">This section explains a step-by-step process to create a connection with the available data sources.</p>	
<ul class="contentTextStyle">
	<li>Click the ‘Data Source’ icon <img src="views/helpIcons/DataSourceIcon.png"></li>
	<li>A context menu opens displaying al the data source options .</li>
	<li>Select a data source option and configure the required details to create a data source connection.</li>
</ul>
<br>	
<div>
	<img
			src="views/helpIcons/DataConnectionPage.png"
			 style="width: 700px;padding-left: 30px;"">
	</div>
	<br>
