<h1 style="text-align: left; font-size: 30px;margin-left: 25px;margin-bottom: 1%;">Creating a new Dashboard</h1>
<p class="contentTextStyle">1. Click on the ‘New +’ button to create :</p>
<p class="contentTextStyle">a) Workspace: A folder to save dashboards.</p>
<p class="contentTextStyle">b) Dashboard: A place where design and development of dashboards takes place.</p>
<br>
<p class="contentTextStyle">2. Click on ‘Dashboard’ button to create a dashboard. </p>
<p style="padding-left: 10px" class="contentTextStyle">New>Dashboard</p>
<br>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/NewDashboard.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div>
	<br>
<p style="padding-left: 10px" class="contentTextStyle">3. After Clicking on the ‘Dashboard’, a web page will open in a new window.</p>
<br>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/DataConnectorStart.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div>
	<br>
<p style="padding-left: 10px" class="contentTextStyle">4. Click on ‘Data Connectors’ icon
provided to the right side of the canvas, and
view the database connectivity options .</p>
<p style="padding-left: 10px" class="contentTextStyle">5. Click on the required connection type.</p>
<br>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/DataConnectionPage.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div>
	<br>
<p style="padding-left: 10px" class="contentTextStyle">6 . Fill in the necessary details:</p>
<p style="padding-left: 10px" class="contentTextStyle">a) Name: Name the connection</p>
<p style="padding-left: 10px" class="contentTextStyle">b) Browse: Navigate to the Excel file that you wish to use as a data-source</p>
<br>
<p style="padding-left: 10px" class="contentTextStyle">7. Click on the 'Component Library', Drag and Drop any component.</p>
<br>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/ChartDragAndDrop.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div>
	<br>
<p style="padding-left: 10px" class="contentTextStyle">8. Connect the chart to the created data connection by click on "Dataset" option that appears next to the each chart.</p>
<br>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/DatasetSelectFromChart.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div>
	<br>
<p style="padding-left: 10px" class="contentTextStyle">9 . Associating a connection to the dragged chart:</p>
<p style="padding-left: 10px" class="contentTextStyle">a) Select the connection from the ‘Connections’.</p>
<p style="padding-left: 10px" class="contentTextStyle">b) Drag and Drop the respected fields to ‘Series’ and ‘Category’.</p>
<br>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/SetConnectionToChart.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		<p style="text-align: center;">
		</p>
	</div>

	