<h1
	style="text-align: left; font-size: 30px; margin-left: 15px; margin-bottom: 2%;">DashBoard
	Objects</h1>

<p class="contentTextStyle"
	style="text-align: left; font-size: 20px; padding-left: 13px;">
	Every component in the dashboard is considered as an object. The Object
	browser will display the properties for each of the objects and be used
	to lock, hide, delete, duplicate and arrange the component on the
	dashboard.</p>

		<h3 style="margin-left: 15px">Manage DashBoard Component</h3>
		<p class="contentTextStyle"
			style="text-align: left; font-size: 17px; padding-left: 17px;">
			Each component that has been dragged into the canvas will be listed
			in the Object browser. In the Manage DashBoard Component, each component is
			listed.
		</p>
		<ol class="ulStyle" type="disc" style="line-height: 1.6;">
			<li><p class="contentTextStyle">
					<b>Hide All :</b> By clicking this icon <i style="font-size: 15px;" class="material-icons cursor-hand ng-binding">visibility_off</i>, all the
					components which are present in the dashboard will be hidden. Users
					can hide each component individually by enabling the checkbox .
				</p></li>
			<li><p class="contentTextStyle">
					<b>Lock All :</b>By clicking this icon <i style="font-size: 15px;" class="material-icons cursor-hand ng-binding">lock</i>, all the components which
					are present in the dashboard will be locked (i.e. components cannot
					be moved from one place to another within the dashboard). Users can
					lock the components individually by enabling the checkbox component .
				</p></li>
			<li><p class="contentTextStyle">
					<b>Delete : </b>By clicking this icon <i style="font-size: 15px;" class="material-icons cursor-hand">delete</i>, Selected component will be deleted.
				</p></li>
			<li><p class="contentTextStyle">
					<b>Duplicate : </b>By clicking this icon <i style="font-size: 15px;" class="material-icons">content_copy</i>,a duplicate component will be created of the selected component.
				</p></li>
		</ol>
	<div style="padding-top: 5px;">
			<img
				src="views/helpIcons/ManageDashboardComponent.png"
				style="padding-left: 30px; padding-right: 30px;"
				class="img-responsive center-block" height="420" width="1080">
		</div>