<h1>I am from font Icons</h1>



<!-- <!DOCTYPE HTML>
<HTML>
<HEAD>
<TITLE>BIZVIZ FONT ICONS</TITLE>
 <STYLE>
	body{
		background: #08aea8;
	}
	.w5{
		width: 8%;
		float: left;
		text-align: center;
	}
	.bdi-icon-container{
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #179e99		
	}
	.bdiconname{
		padding-bottom: 2px; 
	}
	.bdicon{
		color: #ffffff;
		font-size: 20px;
	}
	.bdicon:hover{
		font-size: 50px;
	}
	.textbox{
		border: 0px;
		width: 100%;
		color: #ffffff;
		background: transparent;
		text-align: center;
		font: 15px calibri;
	}
	</STYLE>
	<body>
	<div id="main">
		<div id="d1" class="w5"></div><div id="d2" class="w5"></div>
		<div id="d3" class="w5"></div><div id="d4" class="w5"></div>
		<div id="d5" class="w5"></div><div id="d6" class="w5"></div>
		<div id="d7" class="w5"></div><div id="d8" class="w5"></div>
		<div id="d9" class="w5"></div><div id="d10" class="w5"></div>
		<div id="d11" class="w5"></div><div id="d12" class="w5"></div>
	</div>
	<script>
	/** Read the css file and create items **/
	$.ajax({
	      type: "GET",
	      url: "../charting/src/bizviz.charting/components/resources/css/bdbizviz-font-styles.min.css",
	      dataType: "text",
	      success: function(css) {
	    	  renderIcons(css);
	      }
	      });
		function renderIcons(str){
			var arr = str.split(".").sort();
			var count = 1;
			for(var i=0, j=0; i<arr.length; i++){
				if(arr[i].startsWith("bd-")){
					var cssClass = arr[i].split(":")[0];
					var div = document.createElement("div");
					div.setAttribute("class", "bdi-icon-container");
					div.innerHTML = "<div class='bdicon icons "+cssClass+"' title='"+ cssClass.replace("bd-","") +"'></div><div class='bdiconname'><input type='textbox' onClick='this.select();' class='textbox' value='"+(cssClass.replace("bd-",""))+"'></div>";
					count = (j != 0 && j % 40 == 0) ? count + 1 : count;
					document.getElementById("d"+count).appendChild(div);
					j++;
				}
			}
		}
	</script>
</body>
</HEAD>
</HTML> -->