<h1>BDB Dashboard Designer</h1>
<p style="line-height: 1.75;">
	It is a complete package to create governed dashboards with prebuilt capabilities which makes it simple enough for business users to understand yet robust enough to accommodate custom scripting and visual requirements.High level visualizations backed with accurate predictions, real time updates available at seamless speed provide precise insights to users to help them make informed business decisions.
</p>

<p style="margin: 20px;"></p>
<iframe class="designer_intro_playlist" width="100%" height="600px" src="https://www.youtube.com/embed/JztZJ_FGSl0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p style="margin: 20px;"></p>

<div class="container" style="width: 100%;">
	<div class="row rowStyle" style="padding: 5px;">
		<div class="col-md-6 col-sm-12">
			<h4 class="head-text">Connect to all of your Data</h4>
			<ul class="ulStyle" type="disc" style="line-height: 1.6;">
				<li>Easily connect to various data sources Ex. RDBMS, Big Data
					DBs, Web Services, Sales Force, Flat Files
				</li>
				<li>Use any type of data: Structured, Unstructured, and
					Semi-structured
				</li>
			</ul>
		</div>
		<div class="col-md-6 col-sm-12">
			<img  src="views/helpIcons/connectDataNew.png">
		</div>
	</div>
	<div class="row rowStyle" style="padding: 5px;">
		<div class="col-md-6 col-sm-12">
			<img  src="views/helpIcons/interactiveVisualization.png">
		</div>
		<div class="col-md-6 col-sm-12">
			<h4 class="head-text">Interactive Visualizations</h4>
			<ul class="ulStyle" type="disc" style="line-height: 1.6;">
				<li>Make sense of mountains of data</li>
				<li>Gain insights into your business</li>
				<li>Empower your team to make faster, smarter decisions</li>
				<li>Wide range of Components and Charts</li>
				<li>Uses HTML5 Technology</li>
				<li>Drag and drop functionality so even novices can easily
					create beautiful, dynamic dashboards
				</li>
			</ul>
		</div>
	</div>
	<div class="row rowStyle" style="padding: 5px;">
		<div class="col-md-6 col-sm-12">
			<h4 class="head-text">Analytics on the Cloud</h4>
			<ul class="ulStyle" type="disc" style="line-height: 1.6;">
				<li>Access Anywhere/Anytime via a web browser, even from Mobile
					Devices
				</li>
				<li>No set up costs. Everything is ready to go</li>
				<li>From User management up to reporting, all on the Cloud</li>
				<li>Multi-Tenant environment (Public, Private, On-Premise)</li>
			</ul>
		</div>
		<div class="col-md-6 col-sm-12">
			<img  src="views/helpIcons/cloud_analytics.png">
		</div>
	</div>
	<div class="row rowStyle" style="padding: 5px;">
		<div class="col-md-6 col-sm-12">
			<img  src="views/helpIcons/share_Insight.png">
		</div>
		<div class="col-md-6 col-sm-12">
			<h4 class="head-text">Share your insights</h4>
			<ul class="ulStyle" type="disc" style="line-height: 1.6;">
				<li>Share your story & insights with colleagues via the BDB
					portal
				</li>
				<li>Limit the audience that can access your document</li>
				<li>Flexible export options for sharing charts and data Ex.
					PPT, JPEG/PNG Image, PDF, MS Excel
				</li>
			</ul>
		</div>
	</div>
</div>