<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>manage sharing</title>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

</style>
</head>
<body>
<h1>Manage and Sharing Option</h1>
	<p class="contentTextStyle">Manage and share your work with others. In this tutorial we will explain how to edit,
save, and share/publish dashboards.</p>
	<ul>
		<li><p class="contentTextStyle">Manage Dashboards</p>
			<p class="contentTextStyle">Generally, created dashboards are saved under a ‘workspace’. In this tutorial we will
explain you how to edit, open, and save dashboards.</p>
		</li>
		<li><p class="contentTextStyle">Share Dashboards</p>
			<p class="contentTextStyle">Users can share their dashboards with others.</p>
		</li>
	</ul>
	<br>
	<p class="contentTextStyle">&nbsp;&nbsp;&nbsp;&nbsp;Click on the ‘Manage’ button, as shown in the figure below. All Workspaces created by
the user will be displayed. Clicking on a workspace will display all the dashboards are within that
workspace.</p><br>
	<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/ManageWorkspace.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block" height="420" width="1080">
	</div>
	<br>
	<p class="contentTextStyle">In the above image, you can see that each dashboard has several icons associated with it.</p>
	<p class="contentTextStyle">This table will explain the functionality of each icon:</p>
	<br>
	<table>
		<tr>
			<th>Icon</th>
			<th>Name</th>
			<th>Functionality</th>
		</tr>
		<tr>
			<td><i class="material-icons cursor-hand">open_in_browser</i></td>
			<td>Open</td>
			<td>Opens a dashboard in designer</td>
		</tr>
		<tr>
			<td><i class="material-icons cursor-hand">cloud_upload</i></td>
			<td>Publish</td>
			<td>Publish the dashboard
				to the portal.</td>
		</tr>
		<tr>
			<td><i class="material-icons cursor-hand">delete</td>
			<td>Remove</td>
			<td>Delete the dashboard.</td>
		</tr>
		<tr>
			<td><i class="material-icons cursor-hand">more_vert</td>
			<td>Other Options</td>
			<td>On click of this you will get below options </td>
		</tr>
		<tr>
			<td><i class="material-icons cursor-hand">desktop_mac</td>
			<td>a) Preview</td>
			<td>Preview the dashboard without opening in designer</td>
		</tr>
		<tr>
			<td><i class="material-icons cursor-hand">file_download</td>
			<td>b) Export To LocalDisk</td>
			<td>Export Dashboard to local disk</td>
		</tr>
		<tr>
			<td><i class="material-icons cursor-hand">edit</td>
			<td>c) Rename</td>
			<td>Rename the dashboard</td>
		</tr>
		<tr>
			<td><i class="material-icons cursor-hand">screen_share</td>
			<td>d) Move To</td>
			<td>Move the dashboard from current workspace to other workspace</td>
		</tr>
	</table>
	<br>
	<h2>Rename Dashboard</h2>
	<p class="contentTextStyle">Dashboards can be renamed using Rename option. In this tutorial will describe how to rename
a dashboard.</p>
	<p class="contentTextStyle">1) From the dashboard designer home screen, click on the ‘Manage’ button. All
‘Workspaces’ will be displayed. Clicking on any workspace will display all the dashboards it
contains.</p>
	<p class="contentTextStyle">2) On clicking the Rename, a pop-up window will appear where user will be allowed
								to rename the dashboard.</p>
	<p class="contentTextStyle">3) After entering the desired name, click the ‘Rename’ button to change the existing name .
of the dashboard.</p>
	<br>
	<h2>Opening a Dashboard</h2>
	<p class="contentTextStyle">Dashboards can be opened using the ‘Open’. In this tutorial, we will explain how to open
dashboards that are located on the local disk.</p>
	<p class="contentTextStyle">1) From the dashboard designer home screen, click on the ‘Manage’ button. All ‘Workspaces’
will be displayed. Clicking on any workspace will display all the dashboards it contains.</p>
	<p class="contentTextStyle">2) On clicking the Open icon, that dashboard will open ( as shown below).</p>
	<br>
	<h2>Export To Local Disk</h2>
	<p class="contentTextStyle">Dashboard which have been created by the user can be saved to a local disk by using the ‘Export to
Local Disk’ option.</p>
	<p class="contentTextStyle">1) From the dashboard designer home screen, click on the ‘Manage’ button. All
‘Workspaces’ will be displayed. Clicking on any workspace will display all the dashboards
it contains.</p>
	<p class="contentTextStyle">2) On clicking the ‘Export to Local Disk’, a pop-up window will appear . Click on the ‘Export’ option to save the dashboard to your local system.</p>
	<br>
	<h2>Moving a Dashboard</h2>
		<p class="contentTextStyle">Dashboards can be moved from one workspace to another using this option. In this tutorial, we
will cover how to move a dashboard.</p>
		<p class="contentTextStyle">1) From the dashboard designer home screen, click on the ‘Manage’ button. All ‘Workspaces’
will be displayed. Clicking on any workspace will display all the dashboards it contains.</p>
		<p class="contentTextStyle">2) On clicking the ‘Move’, a pop-up window will appear (as shown below). From
the dropdown menu, select the Workspace to which you would like to move the dashboard and then click on ‘Move’.</p>
		<br>
		<div style="padding-top: 5px;">
			<img
				src="views/helpIcons/MoveToAnotherWorkspace.png"
				style="padding-left: 30px; padding-right: 30px;"
				class="img-responsive center-block" height="300" width="1080">
		</div>
	<br>
	<h2>Publishing Dashboard</h2>
	<p class="contentTextStyle">Dashboards need to be published in order for end-users to access them.
		In this tutorial we will explain how to publish dashboards.</p>
	<p class="contentTextStyle">i) On the Dashboard Designer home screen, click on the ‘Manage’ button. All existing
‘Workspaces’ will be displayed. Click on any workspace to view the dashboards it contains.</p>
	<p class="contentTextStyle">ii) On clicking the ‘Publish’ , a pop-up window will appear (as shown below).
From the User List & User Groups, select the required users & groups to which you would like to publish the dashboard, and click on ‘Publish’.</p>
		<br>
		<div style="padding-top: 5px;">
			<img
				src="views/helpIcons/PublishToPortal.png"
				style="padding-left: 30px; padding-right: 30px;"
				class="img-responsive center-block" height="300" width="1080">
		</div>
	<br>
	<h2>Deleting a Dashboard</h2>
	<p class="contentTextStyle">In this section, we will cover how to delete a dashboard.</p>
	<p class="contentTextStyle">i) From the dashboard designer home screen, click on the ‘Manage’ button. All
‘Workspaces’ will be displayed. Clicking on any workspace will display all the dashboards it contains.</p>
	<p class="contentTextStyle">ii) On clicking the ‘Remove’, a pop-up window will appear,
Click the ‘Remove’ button to delete the dashboard.</p>
</body>
</html>