<h1>Contact Us</h1>
<p style="color: #888;">
	<i class="material-icons" style="vertical-align: middle; padding: 3px;" >email</i>
	<a class="p3 center-align" target="_blank" href="//mail.google.com/mail/u/0/?view=cm&fs=1&to=sales@bdb.ai&su=Enquiry&body=Hello%20BDB&tf=1">
	sales@bdb.ai</a>
</p>
<hr class="divider"></hr>
<ul type="none" style="color: #888;">
	<li>
		<i class="material-icons" style="vertical-align: middle; padding: 3px;" >home</i>
		<div style="display: inline-flex;">
			Bengaluru - Corporate Office
		</div>
	</li>
	<li>
		<i class="material-icons" style="vertical-align: middle; padding: 3px;" >location_on</i>
		<a class="p3 center-align" target="_blank" href="//www.google.com/maps/place/BDI+Systems+and+Technologies+Private+Limited/@12.9138476,77.6345305,17z/data=!4m12!1m6!3m5!1s0x3bae148feb355c9b:0x32e635d2a165fcb9!2sBDI+Systems+and+Technologies+Private+Limited!8m2!3d12.9138424!4d77.6367192!3m4!1s0x3bae148feb355c9b:0x32e635d2a165fcb9!8m2!3d12.9138424!4d77.6367192">
		#49, 12th Main, HSR Sector 6, Landmark: HSR BDA Complex, Opp. to Anand Bhavan Bangalore, Karnataka - 560102</a>
	</li>
</ul>
<hr class="divider"></hr>
<ul type="none" style="color: #888;">
	<li>
		<i class="material-icons" style="vertical-align: middle; padding: 3px;" >home</i>
		<div style="display: inline-flex;">
			Hyderabad - R&D Lab
		</div>
	</li>
	<li>
		<i class="material-icons" style="vertical-align: middle; padding: 3px;" >location_on</i>
		<a class="p3 center-align" target="_blank" href="//www.google.com/maps/place/BizViz+Technologies+Pvt+Ltd./@17.4570567,78.3684558,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb93cf9a882263:0xbc94e1eeb7b8c13b!8m2!3d17.4570516!4d78.3706445">
		# 5th Floor, Modern Profound Tech Park, Survey no.12, Opp. to Ramalayam Temple, Whitefield road, Kondapur Hyderabad, Telangana - 500084</a>
	</li>
</ul>
<hr class="divider"></hr>
<ul type="none" style="color: #888;">
	<li>
		<i class="material-icons" style="vertical-align: middle; padding: 3px;" >home</i>
		<div style="display: inline-flex;">
			New York
		</div>
	</li>
	<li>
		<i class="material-icons" style="vertical-align: middle; padding: 3px;" >phone</i>
		<span>(609) 357-0557</span>
	</li>
	<li>
		<i class="material-icons" style="vertical-align: middle; padding: 3px;" >location_on</i>
		<a class="p3 center-align" target="_blank" href="//www.google.co.in/maps/place/1075+E+and+West+Rd,+Buffalo,+NY+14224,+USA/@42.8199968,-78.7334677,17z/data=!3m1!4b1!4m5!3m4!1s0x89d30924983d2bef:0xbaecdd81ab047073!8m2!3d42.8199929!4d-78.731279?hl=en">
		1075 East & West Road, West Seneca, NewYork 14224</a>
	</li>
</ul>
<hr class="divider"></hr>
<ul type="none" style="color: #888;">
	<li>
		<i class="material-icons" style="vertical-align: middle; padding: 3px;" >home</i>
		<div style="display: inline-flex;">
			California
		</div>
	</li>
	<li>
		<i class="material-icons" style="vertical-align: middle; padding: 3px;" >location_on</i>
		<a class="p3 center-align" target="_blank" href="//www.google.co.in/maps/place/440+N+Wolfe+Rd,+Sunnyvale,+CA+94085,+USA/@37.383924,-122.0150331,17z/data=!3m1!4b1!4m5!3m4!1s0x808fb63f2ae624d3:0x7699502b36939f6b!8m2!3d37.3839198!4d-122.0128444?hl=en">
		440 N.Wolfe Rd., Sunnyvale CA 94085</a>
	</li>
</ul>
<hr class="divider"></hr>
<ul type="none" style="color: #888;">
	<li>
		<i class="material-icons" style="vertical-align: middle; padding: 3px;" >home</i>
		<div style="display: inline-flex;">
			London
		</div>
	</li>
	<li>
		<i class="material-icons" style="vertical-align: middle; padding: 3px;" >location_on</i>
		<a class="p3 center-align" target="_blank" href="//www.google.co.in/maps/place/Boston+Court,+Christchurch+Park,+Sutton+SM2+5TJ,+UK/@51.3552843,-0.189741,17z/data=!3m1!4b1!4m8!1m2!2m1!1s+9+Boston+Court,+Christchurch+Park,+London+-+SM2+5TJ!3m4!1s0x487608078536cf0f:0x688cafad4af15d5c!8m2!3d51.3552843!4d-0.187547?hl=en">
		9 Boston Court, Christchurch Park, London - SM2 5TJ</a>
	</li>
</ul>
<hr class="divider"></hr>
<div>
	<p>
		<a href="//www.facebook.com/BizVizTechnologies/" target="_blank"><img src="./views/helpIcons/Facebook.png" alt=""></a> 
		<a href="//twitter.com/bdb_ai" target="_blank"><img src="./views/helpIcons/Twitter2.png" alt=""></a> 
		<a href="//www.linkedin.com/company/big-data-bizviz?trk=top_nav_home" target="_blank"><img src="./views/helpIcons/Linkedin.png" alt=""></a> 
		<a href="//www.youtube.com/channel/UCULLlZStpxxRrkolUdf1I1g" target="_blank"><img src="./views/helpIcons/YouTube.png" alt=""></a>
	</p>
</div>