<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Open and close Dashboard Designer</title>
</head>
<body>
<h1>How to open and close Dashboard Designer ?</h1>
<h2>Opening Dashboard Designer</h2>
<p class="contentTextStyle"><span></>i) Enter in the URL bar --></span><span style="color:#006684">"https://app.bdb.ai/home/#/signin"</span></p>
<p class="contentTextStyle">ii) Enter your credentials.</p>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/bdbLoginPage.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		
		<p style="text-align: center;">
			<b>Fig: Login Page</b>
		</p>
	</div>
	<p class="contentTextStyle">iii) Click the ‘Login’ button. You will be taken to the Portal Home Screen.</p>
	<p class="contentTextStyle">iv) Click the ‘Apps’ icon
to display a list of installed apps. Apps are BDB portal modules or plug-ins that provide
specific functionality or can be used to extend the capabilities of BDB portal. Some apps
come as standard with the BDB portal (ex. Administrator) and others must be licensed
separately before they are made available in the portal.</p>
	<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/bdbHomePage.PNG"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		
		<p style="text-align: center;">
			<b>Fig: Home Page</b>
		</p>
	</div>
	<p class="contentTextStyle">v) Select ‘Dashboard Designer’ (as shown above).
Doing so will open a new webpage.</p>
<div style="padding-top: 5px;">
	<img
			src="views/helpIcons/DesignerHome.png"
			style="padding-left: 30px; padding-right: 30px;"
			class="img-responsive center-block">
		
		<p style="text-align: center;">
			<b>Fig: DesignerHome Page</b>
		</p>
	</div>
	<br>
	<h2>Closing Dashboard Designer</h2>
		<p class="contentTextStyle">Once you have completed creating a dashboard, save your work and use one of the following
options to close the Designer.</p>
	<p class="contentTextStyle">i) From the Dashboard Designer home screen, click the ‘Exit’ icon.</p>
	<p class="contentTextStyle">ii) Click the ‘Close’ button (the ‘X’ on the right edge) of the Dashboard Designer tab.</p>
</body>
</html>