<div class="row ht100per" style="overflow:auto;">
	<!-- Template Header Panel -->
	<div class="d-w-separator ht100per col-sm-12 col-md-12 col-lg-12 no-pad" style="height:45px;">
		<div class="row box-shadow header-bg templatebar">
			<div class="col-sm-6 col-md-6 col-lg-6 padding-lr0">
				<md-button class="md-secondary md-icon-button">
	            	<md-icon ng-click="backToTemplateHome();"><i class="material-icons cursor-hand" mat-tooltip = "Back">arrow_back</i></md-icon>
	          	</md-button>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 padding-lr0">
				<md-input-container md-no-float class="pull-right templateContainerDiv templinputmargin">
			        <input ng-model="filterTemplates" placeholder="Search Template">
		        </md-input-container>
			</div>
		</div>
	</div>
	<!-- Template Folder Panel -->
	<div class="d-w-separator templbodystyle">
		<div class="templDBPixel templDbmeasure templanimate" ng-if="modal.templObj.templDbList" ng-repeat="templ in modal.templObj.templDbList | filter:filterTemplates">
			<md-card class="{{templ.templateJson.dashboardTemplateJson.templId}} templcard" ng-class="{'templovercss':hovertempl}" ng-mouseenter="hovertempl=true" ng-mouseleave="hovertempl=false">
				<md-card-content class="content{{templ.templateJson.dashboardTemplateJson.templId}}" style="height:inherit;" ng-dblclick="OpenTemplateDasboard( templ, $event )" ng-mouseleave="onleaveTemplates(templ)" ng-mouseover="onhoverTemplates(templ)">
					<div class="templlistheader">
						<div style="width:70%"><b>{{ templ.templateJson.dashboardTemplateJson.name }}</b></div>
						<div class="templisticons"><i class="material-icons cursor-hand" ng-click="OpenTemplateDasboard( templ, $event )" mat-tooltip = "Open Template">open_in_browser</i></div>
						<div class="templisticons"><i class="material-icons cursor-hand" ng-click="previewFromManagePage( templ, $event )" mat-tooltip = "Preview Template">desktop_mac</i></div>
						<div class="templisticons"><i class="material-icons cursor-hand" ng-click="downloadTemplateData( templ )" mat-tooltip = "Download Excel">file_download</i></div>
					</div>
					<img ng-show="templ.templateFlag" alt="Template" ng-src="{{templ.templateJson.dashboardTemplateJson.thumbNailBase64}}" style="width:100%;height:95%;"></img>
					<div ng-hide="templ.templateFlag" class="templisthoverdiv">{{templ.templateJson.dashboardTemplateJson.description}}</div>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>