<div class="designer-image">
	<div style="display: flex;">
		<div class="col-sm-6 col-md-6 col-lg-6 padding userDesign"><span class="float-l">Hi, {{modal.AUTH_INFO.user.userName}}</span></div>
		<div class="col-sm-6 col-md-6 col-lg-6 designTour"><span class="float-r cursor-hand" ng-click="startTour('designerHome');">Take a tour</span></div>
	</div>
	<div style="overflow: auto; overflow-x: hidden;"> 
	<div class="designer-heading pos-rev">
		<div class="imageContainer">
			<img alt="Dashboard Designer" src="./resources/images/featureThumbs/Dashboard-Designer.svg">
		</div>
		<div class="contentContainer">
			<h3 class="contentHeading">Welcome to Dashboard Designer</h3>
			<p class="contentDescription">Dashboard Designer is a complete package to create governed dashboards with prebuilt capabilities which makes it simple enough for business users to understand yet robust enough to accommodate custom scripting and visual requirements.</p>
			<!--<button style="width: 100px; height: 25px; background: #0D78BF 0% 0% no-repeat padding-box; border-radius: 17px; border:0px; text-align: center; font: normal normal 300 10px BizvizFont; color: #FFFFFF;">Learn More</button>-->
		</div>
	</div>
	<div class="container-fluid featureContainer">
		<div class="row featureRow">
			<div class="col-md-4 col-lg-4 col-sm-4 featureCard">
				<div class="featureIconDiv"><img alt="Dashboard designer feature" src="./resources/images/featureThumbs/Simple-drag-and-Drop.svg" class="rounded-circle featureIcon"></div>
				<div class="featureContentDiv"><h4 class="featureHeading">
						Simple Drag and Drop UI
					</h4>
					<h5 class="featureDescription">
						Drag any chart or grid from the Component Panel and drop to your designer canvas. It is incredibly intuitive and smooth functionality for designing dashboard.
					</h5>
					<!--<button class="featureButton">Read More</button>--></div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4 featureCard">
				<div class="featureIconDiv"><img alt="Dashboard designer feature" src="./resources/images/featureThumbs/Highly-interactive.svg" class="rounded-circle featureIcon"></div>
				<div class="featureContentDiv"><h4 class="featureHeading">
					Highly Interactive and Drill Down
				</h4>
				<h5 class="featureDescription">
					Each dashboard can have multiple widgets and filters which can be altered in a click to get data analytics at the speed of thought.
					SDK methods help to achieve the various functional requirements based on the customer needs.
				</h5>
				<!--<button class="featureButton">Read More</button>--></div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4 featureCard">
				<div class="featureIconDiv"><img alt="Dashboard designer feature" src="./resources/images/featureThumbs/Mobility-image.svg" class="rounded-circle featureIcon"></div>
				<div class="featureContentDiv"><h4 class="featureHeading">
					Mobile, Tablet and Desktop Views
				</h4>
				<h5 class="featureDescription">
					Customizable layouts to view the interactive dashboards from phones, tablets, and desktops. Making the data insights accessible all the time for our users.
				</h5>
				<!--<button class="featureButton">Read More</button>--></div>
			</div>
		</div>
		<div class="row featureRow">
			<div class="col-md-4 col-lg-4 col-sm-4 featureCard">
				<div class="featureIconDiv"><img alt="Dashboard designer feature" src="./resources/images/featureThumbs/Components.svg" class="rounded-circle featureIcon"></div>
				<div class="featureThemeContentDiv featureContentDiv"><h4 class="featureHeading">
					60+ Components and Themes
				</h4>
				<h5 class="featureDescription">
					Check out our exclusive range of visualization components to select the most suitable for your data. You can govern the overlook and feel of the components to project your visualization the way you wish.
					<!-- BI developer can govern the overlook, feel, and functionality of the dashboarding components to project your data visualization the way you wish. -->
				</h5>
				<!--<button class="featureButton">Read More</button>--></div>
				<div class="themeContentDiv">
					<md-icon ><img alt="Theme-Default" src="./resources/images/featureThemes/Theme-Default.svg" ng-click="previewThemeTemplate($event,'./resources/help/samples/Theme-Default.bvzx', 'Default')" class="featureThemeIcon">
					<md-tooltip md-direction="bottom">Preview Default Theme</md-tooltip></md-icon>
					<md-icon ><img alt="Theme-Dark" src="./resources/images/featureThemes/Theme-Dark.svg" ng-click="previewThemeTemplate($event,'./resources/help/samples/Theme-Dark.bvzx', 'Dark')" class="featureThemeIcon">
					<md-tooltip md-direction="bottom">Preview Dark Theme</md-tooltip></md-icon>
					<md-icon ><img alt="Theme-Blue" src="./resources/images/featureThemes/Theme-Blue.svg" ng-click="previewThemeTemplate($event,'./resources/help/samples/Theme-Blue.bvzx', 'Blue')" class="featureThemeIcon">
					<md-tooltip md-direction="bottom">Preview Blue Theme</md-tooltip></md-icon>
					<md-icon ><img alt="Theme-Black" src="./resources/images/featureThemes/Theme-Black.svg" ng-click="previewThemeTemplate($event,'./resources/help/samples/Theme-Black.bvzx', 'Blue')" class="featureThemeIcon">
					<md-tooltip md-direction="bottom">Preview Black Theme</md-tooltip></md-icon>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4 featureCard">
				<div class="featureIconDiv"><img alt="Dashboard designer feature" src="./resources/images/featureThumbs/Advance-Visualisation.svg" class="rounded-circle featureIcon"></div>
				<div class="featureContentDiv"><h4 class="featureHeading">
					Advanced Visualizations
				</h4>
				<h5 class="featureDescription">
					Explore complex business data in the most simplified way using our advanced visualization components. 
					Avail a series of interactive charting options like Time-Series, Decision Tree, Leaflet available to you at your fingertips
				</h5>
				<!--<button class="featureButton">Read More</button>--></div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4 featureCard">
				<div class="featureIconDiv"><img alt="Dashboard designer feature" src="./resources/images/featureThumbs/Import-Custom.svg" class="rounded-circle featureIcon"></div>
				<div class="featureContentDiv"><h4 class="featureHeading">
					 Import Custom Component
				</h4>
				<h5 class="featureDescription">
					Incorporate any third-party visualizations to your dashboard, including D3 Charts, DataTables etc.
				</h5>
				<!--<button class="featureButton">Read More</button>--></div>
			</div>
		</div>
		<div class="row featureRow">
			<div class="col-md-4 col-lg-4 col-sm-4 featureCard">
				<div class="featureIconDiv"><img alt="Dashboard designer feature" src="./resources/images/featureThumbs/Save-your-filter.svg" class="rounded-circle featureIcon"></div>
				<div class="featureContentDiv"><h4 class="featureHeading">
					Save Your Filter Selections
				</h4>
				<h5 class="featureDescription">
					 Add various Criteria serving as filters and save them for the future dashboard viewers to provide them with a unique insight into the displayed data.
					 Users can extract quick insights without indulging in the pain of selecting same set of filters repeatedly.
				</h5>
				<!--<button class="featureButton">Read More</button>--></div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4 featureCard">
				<div class="featureIconDiv"><img alt="Dashboard designer feature" src="./resources/images/featureThumbs/Export-Dashboard.svg" class="rounded-circle featureIcon"></div>
				<div class="featureContentDiv"><h4 class="featureHeading">
					Export Dashboard
				</h4>
				<h5 class="featureDescription">
				Use modern browser technology to accomplish export charts to PPT/ PDF/ PNG/ Excel without sending data to an external server. 
				Entire dashboard or individual visual can be exported and shared with your team
				</h5>
				<!--<button class="featureButton">Read More</button>--></div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4 featureCard">
				<div class="featureIconDiv"><img alt="Dashboard designer feature" src="./resources/images/featureThumbs/Live-data-Connector.svg" class="rounded-circle featureIcon"></div>
				<div class="featureContentDiv"><h4 class="featureHeading">
					Live Data Connectors
				</h4>
				<h5 class="featureDescription">
					Extract and consolidate live data from a wide range of data sources. Accommodate views generated from various data sources in a single dashboard. 
					Drill-down into the data to visualize hidden trends for quick insights into your data along with predictions.
				</h5>
				<!--<button class="featureButton">Read More</button>--></div>
			</div>
		</div>
	</div>
	</div> 
	<div class="designer-footer pos-rev">
		<div class="col-sm-6 col-md-6 col-lg-6 zero-padding"><span class="float-l">Dashboard Designer {{modal.global.versionDetail}}</span></div>
		<div class="col-sm-6 col-md-6 col-lg-6 zero-padding"><span class="float-r">Released on: {{modal.global.buildDate}}</span></div>
	</div>
</div>